@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: #243642;
}
h1 {
  font-size: 6vb;
}
#OutputField {
  height: 29vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vb;
}
#InputJar {
  display: block;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #387478;
}
#container {
  background-color: #629584;
  height: 50vh;
  width: 50vw;
  border-radius: 50px;
  padding: 30px;
}
button {
  border: none;
  border-radius: 50px;
  font-size: 4vb;
  font-weight: 500;
  background: #e2f1e7;
}
input {
  width: 85%;
  height: 50%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 9vb;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#enter {
  width: 100%;
  height: 30%;
}
#start {
  width: 38%;
  height: 6vh;
  font-size: 3vb;
  margin: 5%;
  background-color: #243642;
  color: #629584;
  transition: 250ms;
}
#reset {
  width: 38%;
  font-size: 3vb;
  height: 6vh;
  margin: 5%;
  background-color: #243642;
  color: #629584;
  transition: 250ms;
}
span {
  font-size: 16vw;
}
#startAndReset {
  width: 100%;
  height: 100%;
}
